.history-container{
  display: flex;
  justify-content: center;
  padding: 30px;
  min-height: 90vh;
  flex-direction: column;
}
.history {
  flex: 1; 
  padding: 100px;
  background-color: #f5f5f5;
  border-radius: 8px;
}


.history h2 {
  color: #333;
  margin-bottom: 20px;
}


.history-list {
  list-style: none;
  padding: 0;
}


.history-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.history-field {
  font-weight: bold;
  color: #1e90ff;
}


.history-details p {
  margin: 5px 0;
  color: #555;
}

.ant-table-thead > tr > th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
}

/* Table data */
.ant-table-tbody > tr > td {
  text-align: center;
}

/* .history-actions{
  text-align: right;
} */
.history-actions button:first-of-type {
  background-color: #4CAF50;
  color: white;
  
}

