.field-detail {
    max-width: 80%;
    margin: 0 auto;
    padding: 90px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.branch {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.image-carousel {
    margin-bottom: 20px;
}

.field-info1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.field-info-left, .field-info-right {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field-info-left {
    margin-right: 10px;
}

.field-info-right {
    margin-left: 10px;
}

.field-info-left h3, .field-info-right h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.info-icon {
    color: #007bff;
    font-size: 20px;
}

.booking-section {
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.booking-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #e64a19;
}
